.intro__text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  /* or 26px */
  margin: 40px 0 33px;
  color: #FFFFFF;

}

@media screen and (min-width: 769px) {
  .intro__text {
    max-width: 690px;
  }
}
